* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url(img.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: #0C8A74;
    display: inline-block;
    padding: 3px;
    font-size: 55px;
    text-shadow: 3px 3px blue;
}

.subcont--button {
    margin: 20px 100px 40px 100px;
}

.container--header {
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin: 5px 100px 50px 100px;
}

.container--footer {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    padding-top: 10px;
    width: 100%;
}

.subcont--box {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    height: auto;
    margin: 20px auto;
    min-height: 200px;
    padding: 40px;
    text-align: center;
    width: 50%
}

.footer-text {
    color: green;
    font-size: 10px;
    margin: auto;
}

.container--subcont {
    height: 100%;
    width: 100%;
}

.subcont--text {
    background-color: #0C8A74;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding: 3px;
    text-shadow: 2px 2px red;
}