*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    display: inline-block;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: auto;
    width: 100%;  
}

p {
    display: block;
    font-size: 17px;
    width: 650px;
}

body {
    padding: 10px;
}

.container {
    width: 100%;
}

.header {
    display: block;
    height: 150px;
    padding: 5px 0 5px 0;
}

.showcase {
    display: inline-block;
    font-weight: bold;  
    margin-left: 30px;    
    width: 100px;
}

.header--aside {
    display: inline-block;
    float: right;
    margin-right: 200px;
}

.header--aside--link {
    font-weight: bold;
}

.images {
  margin: 50px auto;
}

.images--col {
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.images--col--img {
    bottom: auto;
    column-break-inside: avoide;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
    vertical-align: top;
}

.images--col--img :hover {
    filter: grayscale(0%);
}

.images--col--img .images--col--img--tooltip {
    display: none;
}

.images--col--img:hover .images--col--img--tooltip {
    background: rgba(255,255,255, .8);
    color: grey;
    display:block;
    font-family: verdana;
    font-size:13px;
    font-weight: bold;
    left:0;
    line-height: 150%;
    margin: 0 5px 0 5px;   
    padding: 20px; 
    position: absolute;
    text-align: justify;
    top:0;
    width: 100%;
    z-index:10;
}

.images--col--img:hover .images--col--img--tooltip::first-line {
    color: black;
}