* {
    border-radius: 10px;  
}

body {
    font-family: verdana;
    font-size: 14px;
}

.wrapper {
    height: 100%;
    padding: 5px;
}

.wrapper--header {
    background-color: magenta;
    font-size: 46px;
}

.sub-wrapper{
    width: 100%;
    clear: all;
    height: 500px;
    overflow: auto;
}

.sub-wrapper--navigation {
    background-color: blue;
    font-size: 12px;
    float: left;
    height: 100%;
    width: 25%;
}

.content {
    font-size: 14px;
    float: left;
    width: 50%;
    height: 100%;
}

.content--header {
    height: 10%;
}

.content--article {
    height: 80%;
}

.content--footer {
    width: 10%;
}

.sub-wrapper--sidebar {
    background-color: magenta;
    font-size: 10px;
    float: left;
    height: 100%;
    width: 25%;
}

.wrapper--footer {
    background-color: magenta;
    font-size: 10px;
    height: 50px;
}


.oh-no-inline-styles {
    background-color: green !important;
}

.wrapper--header, .wrapper--footer {
    text-align: center;
}